@import '../../shared/scss/base';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'gallery';

.landingpage {
    display: grid;
    gap: 2em 2em;
    max-width: 48em;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    justify-content: center;
    position: relative;
    height: 100%;
}

.landingpage h1 {
    justify-self: center;
    grid-column: span 3;
    align-items: center;
    position: relative;
}

.kmom-box.project {
    grid-column: span 3;
    position: relative;
    margin-top: 2px;
}

.kmom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px $silver-gray;
    background-color: $white-redhue;
    border-radius: 3px;
    border-style: ridge;
    box-shadow: 1px 1px $black-whiter;
    width: 100%;
    height: auto;
}

.kmom-box a {
    color: $background-gray1;
    text-decoration: none;
    background-color: $gray-blue;
    width: 100%;
}

.kmom-box h2 {
    text-decoration: none;
    background-color: $gray-blue;
    width: 100%;
    align-self: center;
}

.kmom-box p {
    color: $black-whiter;
}

.kmom-container {
    display: grid;
    grid-template-columns: 3fr 9fr;
    gap: 1em;
    max-width: 1200px;
    margin: auto;
    padding: 0 1em;
}

.kmom-container .sidebar {
    display: flex;
    flex-direction: column;
    padding: 2em;
    justify-content: space-evenly;
}

.sidebar a {
    font-size: 1.8em;
    text-align: center;
    padding: 0.5em;
    color: $gray-blue;
    text-decoration: none;
}

.fa-arrow-right {
    display: flex;
    color: $black;
    background-color: $white-redhue;
    width: 100%;
    padding: 2px;
    justify-content: flex-end;
    font-size: 1.5rem;
}

.kmom .next-previous {
    display: none;
}

.kmom .next-previous a {
    color: $white;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe object embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 960px) {
    body {
        height: 200%;
    }

    .main {
        margin-bottom: 3em;
    }

    .landingpage {
        display: grid;
        margin: 0 auto;
    }

    .landingpage h1 {
        position: relative;
    }

    .kmom-box {
        grid-column: span 3;
        align-items: center;
    }

    .kmom-box p {
        color: $black-whiter;
        padding-top: 2px;
    }

    .sidebar {
        display: none !important;
    }

    .kmom-container {
        grid-template-columns: 12fr;
    }

    .kmom .next-previous {
        display: none !important;
        justify-content: center;
    }

    .kmom .next-previous a {
        color: $gray-blue;
        font-size: 4rem;
        margin: 1em;
        display: none !important;
    }

    .social {
        font-size: 1rem;
    }

}
