@import '../../shared/scss/base';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'report';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: 'Libre Baskerville', serif;
    background-image: url('../../../assets/img/thierry.JPG');
    background-attachment: fixed;
    background-position: center right;
    background-repeat: repeat;
    background-color: $light-black;
    overflow-y: scroll;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $my-gray;
}

img {
    filter: grayscale(100%);
}

img embed object video {
    max-width: 100%;
}

.site-header {
    flex: 0 0 auto;
    background-color: $black;
    color: $white;
    padding: 0 2em;
    background-image: url('../../../assets/img/caravag.jpg');
}

.site-header a {
    color: $background-gray2;
}

.site-header a:visited {
    color: $background-gray2;
}

.site-header a:hover {
    color: $background-gray;
}
/* Main */

.main {
    flex: 1 0 auto;
    position: relative;
    background-color: $light-black;
    justify-content: center;
    align-items: center;
}

/* Footer */

.site-footer {
    display: flex;
    background-color: $light-black1;
    color: $my-gray;
    justify-content: space-between;
    align-items: center;
}

.site-footer a {
    color: $background-gray;
}

.social {
    display: flex;
    font-size: 1.5rem;
    padding: 1.5em;
}

.kmom-box {
    background-color: #003;
    color: $background-gray1;
}

.kmom-box p {
    color: $background-gray1;
}

.fa-arrow-right {
    background-color: #003;
    color: $background-gray1;
}
