@import '../../shared/scss/base';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import 'report';
@import 'gallery';

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
}

html {
    font-family: 'Libre Baskerville', serif;
    background-image: url('../../../assets/img/thierry.JPG');
    background-attachment: fixed;
    background-position: center right;
    background-repeat: repeat;
    background-color: $background-gray2;
    overflow-y: scroll;
    height: 100%;
    line-height: 130%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

img embed object video {
    max-width: 100%;
}

.site-header {
    flex: 0 0 auto;
    background-color: $black;
    color: $black;
    padding: 0 2em;
    background-image: url('../../../assets/img/caravag_white.jpg');
}

.site-header a {
    color: $white-redhue;
}

.site-header a:visited {
    color: $white-redhue;
}

.site-header a:hover {
    color: $white;
}
/* Main */

.main {
    flex: 1 0 auto;
    position: relative;
    background-color: $background-gray2;
    justify-content: center;
    align-items: center;
    color: $black;
}


/* Footer */

.site-footer {
    display: flex;
    background-color: $background-gray3;
    color: $black;
    justify-content: space-between;
    align-items: center;
}

.site-footer a {
    color: $light-black;
}

.social {
    font-size: 1.5rem;
    padding: 1.5em;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.analys-container {
    width: 70%;

}

@media (max-width: 960px) {
    h1 {
        line-height: 100%;
    }

    .embed-container iframe object embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
